<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:with="user=${session.SPRING_SECURITY_CONTEXT.authentication.principal}">

<div th:if="${user} != null">
    <form th:action="@{/logout}" method="post">
        <button>注销</button>
    </form>
</div>
<h1 th:text="'Hello ' + ${user.name}"></h1>

<div>
    <p>你拥有的权限：</p>
    <ul>
        <li th:each="role : ${user.roles}" th:text="${role}"></li>
    </ul>
</div>

<div th:if="${#lists.contains(user.roles, 'ROLE_ADMIN')}">
    这句话只有管理员看得到
</div>


</body>
</html>